absl-py==2.2.2
aiofiles==24.1.0
aiohappyeyeballs==2.4.4
aiohttp==3.11.11
aiosignal==1.3.2
amqp==5.2.0
annotated-types==0.7.0
anthropic==0.49.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
arrow==1.3.0
asn1crypto==1.5.1
astor==0.8.1
astroid==3.2.4
async-timeout==4.0.3
attrs==25.1.0
backoff==2.2.1
bcrypt==4.3.0
beautifulsoup4==4.12.3
bidict==0.23.1
billiard==4.2.0
blinker==1.9.0
boto3==1.38.6
botocore==1.38.6
browser-use==0.1.40
bs4==0.0.2
cachelib==0.13.0
cachetools==5.5.2
celery==5.4.0
certifi==2025.1.31
cffi==1.17.1
cfgrib==0.9.15.0
charset-normalizer==3.4.1
cheroot==10.0.1
chess==1.10.0
chex==0.1.89
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
contourpy==1.2.0
coverage==7.4.0
cryptography==44.0.3
cycler==0.12.1
decorator==5.2.1
defusedxml==0.7.1
dill==0.3.8
distro==1.9.0
dnspython==2.5.0
dotenv==0.9.9
dpshdl==0.0.21
duckdb==1.2.2
eccodes==2.41.0
ecdsa==0.19.1
equinox==0.12.1
etils==1.12.2
exceptiongroup==1.2.2
fastapi==0.104.1
filelock==3.18.0
findlibs==0.1.1
Flask==3.1.0
Flask-Cors==5.0.0
Flask-Login==0.6.3
Flask-Session==0.8.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
fonttools==4.48.1
frozenlist==1.5.0
fsspec==2025.3.2
gcsfs==2025.3.2
git-filter-repo==2.47.0
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.25.0rc0
google-auth==2.40.0
google-auth-oauthlib==1.2.2
google-cloud-core==2.4.3
google-cloud-storage==3.1.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
greenlet==3.1.1
grpcio==1.71.0
gunicorn==21.2.0
gviz-api==1.10.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
-e git+https://github.com/xerk-dot/weather-data-challenge.git@8a0ce77ca313636409b52fb228e194ca9495d493#egg=hrrr_ingest&subdirectory=new_structure
html5validator==0.4.2
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.30.2
humanize==4.12.3
Hypercorn==0.17.3
hyperframe==6.0.1
idna==3.10
importlib_metadata==8.6.1
importlib_resources==6.5.2
iniconfig==2.0.0
isort==5.13.2
itsdangerous==2.2.0
jaraco.functools==4.1.0
jax==0.6.0
jaxlib==0.6.0
jaxtyping==0.3.2
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
jmp @ git+https://github.com/google-deepmind/jmp@9c1cdbbf78da8b2bfaee475d42611c72626e31d0
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.5
kombu==5.4.0
langchain==0.3.17
langchain-anthropic==0.3.3
langchain-core==0.3.33
langchain-ollama==0.2.2
langchain-openai==0.3.3
langchain-text-splitters==0.3.5
langgraph==0.2.69
langgraph-checkpoint==2.0.10
langgraph-sdk==0.1.51
langsmith==0.3.4
loguru==0.7.3
Markdown==3.8
markdown-it-py==3.0.0
markdownify==0.14.1
MarkupSafe==3.0.2
matplotlib==3.8.2
mccabe==0.7.0
mdurl==0.1.2
ml_dtypes==0.5.1
monotonic==1.6
more-itertools==10.7.0
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
Naked==0.1.32
nest-asyncio==1.6.0
networkx==3.4.2
numpy==1.26.4
oauthlib==3.2.2
ollama==0.4.7
omegaconf==2.3.0
openai==1.61.0
opt_einsum==3.4.0
optax==0.2.4
orbax-checkpoint==0.11.13
orjson==3.10.15
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.0
passlib==1.7.4
pg8000==1.30.5
pillow==11.2.1
pinecone-client==2.2.4
platformdirs==4.2.2
playwright==1.51.0
pluggy==1.5.0
portalocker==2.10.1
posthog==3.23.0
priority==2.0.0
prompt_toolkit==3.0.47
propcache==0.2.1
proto-plus==1.26.1
protobuf==4.25.7
psutil==6.0.0
psycopg==3.1.19
psycopg2-binary==2.9.10
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycairo==1.27.0
pycodestyle==2.12.1
pycparser==2.22
pycryptodome==3.21.0
pydantic==2.10.6
pydantic-settings==2.9.1
pydantic_core==2.27.2
pydocstyle==6.3.0
pyee==12.1.1
Pygments==2.19.1
PyJWT==2.8.0
pylint==3.2.7
pymongo==4.6.1
pyparsing==3.1.1
PySocks==1.7.1
pytest==8.3.2
pytest-asyncio==0.21.1
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-engineio==4.11.2
python-jose==3.3.0
python-multipart==0.0.6
python-socketio==5.12.1
pytz==2024.1
PyYAML==6.0.2
qdrant-client==1.14.2
Quart==0.19.6
quart-cors==0.7.0
redis==5.0.8
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rich==14.0.0
rsa==4.9.1
s3transfer==0.12.0
safetensors==0.5.3
scipy==1.15.2
scramp==1.4.5
selenium==4.25.0
setuptools==78.1.0
shellescape==3.8.1
shellingham==1.5.4
simple-websocket==1.1.0
simplejson==3.20.1
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
SQLAlchemy==2.0.37
SQLAlchemy-Utils==0.41.1
starlette==0.27.0
sympy==1.13.3
tenacity==9.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorboard_plugin_profile==2.19.4
tensorstore==0.1.74
tiktoken==0.8.0
tokenizers==0.15.2
tomlkit==0.13.2
toolz==1.0.0
torch==2.7.0
tqdm==4.67.1
transformers==4.35.2
trio==0.26.2
trio-websocket==0.11.1
typer==0.15.3
types-python-dateutil==2.9.0.20240906
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.3.0
uvicorn==0.30.6
vine==5.1.0
wadler_lindig==0.1.5
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.1.3
wsproto==1.2.0
xarray==2025.4.0
-e git+https://github.com/xerk-dot/xax.git@47746732ef29fa6aeee3232b6667e04a16650337#egg=xax
yarl==1.18.3
zipp==3.21.0
zstandard==0.23.0
